{{extend 'layout.html'}}
<div class="honeybadger_table">
	<table>
		<tr>
			<td style="width:1px;">ID</td>
			<td>Title</td>
			<td style="width:1px;">Browser</td>
			<td style="width:1px;">MD5</td>
			<td style="width:1px;"></td>
		</tr>
		{{for row in results:}}
			{{browser_info = util.identifyBrowser(row.browsers.useragent)}}
			<tr onclick="window.location='{{=URL('result', args=[row.submissions.id])}}'">
				<td>{{=row.submissions.id}}</td>
				<td>{{=row.submissions.title or 'No Title'}}</td>
					<td>
						<img src="{{=URL('static', 'images/icons/' + browser_info['os'] + '.png')}}"  alt="{{=browser_info['os']}}"/>
						<img src="{{=URL('static', 'images/icons/' + browser_info['browser'] + '.png')}}" alt="{{=browser_info['browser']}}" />
					</td>
				<td>{{=row.submissions.md5}}</td>
				<td><img src="{{=URL('static', 'images/'+row.submissions.state+'.gif')}}" /></td>
			</tr>
		{{pass}}
	</table>
</div>
<form action="{{=URL('submit')}}">
	<input type="submit" value="Submit a new sample" />
</form>
