{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div>
	Are you submitting a sample or analysing one?
</div>

<script>
	el.data('w2p_disable_with', el[method]());
	function checksubmit(){
		return confirm('WARNING: By proceeding your browser may be subjected to potentially malicious code. It is strongly recommended that you use a virtual machine with no connection to the internet to perform analysis. The Honeybadger team accepts no responsibility for damage caused by code being analysed. Please confirm that you understand the risks and want to continue.');
	}
</script>

<table style="table-layout: fixed; width: 100%">
	<tr>
		<td><form action="{{=URL('submit')}}"><input type="submit" class="nodisable" value="I'm submitting a sample, take me to the submissions page!" style="width: 100%; height: 30em;" /></form></td>
		<td><form action="{{=URL('poll')}}" onsubmit="return checksubmit()"><input type="submit" class="nodisable" value="I'm analysing code, take me to the analysis page!" style="width: 100%; height: 30em;" /></form></td>
	</tr>
</table>
