{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div>
	Are you submitting a sample or analysing one?
</div>

<script>
	el.data('w2p_disable_with', el[method]());
	function checksubmit(){
		return confirm('WARNING: By proceeding your browser may be subjected to potentially malicious code. It is strongly recommended that you use a virtual machine with no connection to the internet to perform analysis. The Honeybadger team accepts no responsibility for damage caused by code being analysed. Please confirm that you understand the risks and want to continue.');
	}
</script>
<br />
<div class="btn-group" style="width: 100%;" role="group">
	<a href="{{=URL('submit')}}" style="width: 50%;" class="btn btn-success">I'm submitting a sample, take me to the submissions page!</a>
	<a href="{{=URL('poll')}}" style="width: 50%;" class="btn btn-warning" onclick="return checksubmit()">I'm analysing code, take me to the analysis page!</a>
</div>

