{{extend 'layout.html'}}
<script src="{{=URL('static', 'js/plugindetect.js')}}"></script>
<div>
	I don't have any jobs for you yet minion, come back later.
</div>
<form id="browserinfo" method="post" action="checkforjobs" style="display: none;">
	<input type="text" id="useragent"     name="useragent"     />
	<input type="text" id="flash_version" name="flash_version" />
	<input type="text" id="java_version"  name="java_version"  />
	<input type="text" id="adobe_version" name="adobe_version" />
</form>
<script>
	
	browserinfo = {};
	browserinfo.useragent = navigator.userAgent
	browserinfo.flash_version = PluginDetect.getVersion("flash");
	browserinfo.java_version = PluginDetect.getVersion("java");
	browserinfo.adobe_version = PluginDetect.getVersion("adobe");

	window.setInterval(function(){
		post = $.post("{{=URL('checkforjobs')}}", browserinfo);
		post.done(function(data){
			if (data != 'cake'){
				w = window.open("{{=URL('analyse')}}/"+data);
				window.setTimeout(function(w){
					w.close();
					$.post("{{=URL('done')}}/"+data);
				}, {{=process_time*1000}}, w);
			}
		});
	}, 2000);

</script>
