{{extend 'layout.html'}}
<script type="text/javascript" src="{{=URL('static', 'js/identify.js')}}"></script>
<ul class="nav nav-pills">
	<li role="presentation"><a href="{{=URL('history')}}">Back to history</a></li>
	<li role="presentation"><a href="{{=URL('submit')}}">Submit another sample</a></li>
</ul>
<br />

<div class="accordion" id="accordion2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				Analysis Summary
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="panel-body">
				<table class="table">
					<tr>
						<td>Title</td>
						<td>{{=submission.submissions.title or '(None)'}}
					</tr>
					<tr>
						<td>MD5</td>
						<td>{{=submission.submissions.md5}} ({{=len(submission.submissions.code)}} bytes)
					</tr>
					<tr>
						<td>Submitted</td>
						<td>{{=submission.submissions.submitted}}
					</tr>
					<tr>
						<td>Started</td>
						<td>{{=submission.submissions.started}}
					</tr>
					<tr>
						<td>Completed</td>
						<td>{{=submission.submissions.completed}}
					</tr>
				</table>
			</div>
		</div>
		<div class="panel-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Analysis Engine
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="panel-body">
				<table class="table">
					<tr>
						<td>Browser</td>
						<td>{{=submission.browsers.useragent}}</td>
					</tr>
					<tr>
						<td>Flash version</td>
						<td>{{=submission.browsers.flash_version or 'Not installed'}}</td>
					</tr>
					<tr>
						<td>Java version</td>
						<td>{{=submission.browsers.java_version or 'Not installed'}}</td>
					</tr>
					<tr>
						<td>Adobe reader version</td>
						<td>{{=submission.browsers.adobe_version or 'Not installed'}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="panel-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				Sample
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="panel-body">
				<pre>{{=submission.submissions.code}}</pre>
			</div>
		</div>
	</div>
</div>

<div id="identifications"></div>
	<span id="analysis">
		{{for alert in alerts: }}
			<div class="alert alert-warning" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{=alert}}
			</div>
		{{pass}}
		{{for type in messages: }}
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse{{=type.replace(' ','')}}">
						{{=type}} ({{=len(messages[type])}})
					</a>
				</div>
				<div id="collapse{{=type.replace(' ','')}}" class="accordion-body collapse">
					<div class="panel-body">
						{{for value in messages[type]:}}
							<pre class="{{=type.replace(' ', '')}}_code">{{=value}}</pre>
						{{pass}}
					</div>
				</div>
			</div>
		{{pass}}
		{{if variables:}}
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapsevars">
						Defined strings ({{=len(variables)}})
					</a>
				</div>
				<div id="collapsevars" class="accordion-body collapse">
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								{{for var in variables:}}
									{{v = var.split(':')}}
									<tr class="variable_code">
										<td style="width: 200px;">{{=v[0]}}</td>
										<td>{{=v[1].decode('base64')}}</td>
									</tr>
								{{pass}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{{pass}}
	</span>
</div>
