{{extend 'layout.html'}}
<form role="form" method="post" onsubmit="return checkFields()">
	<div class="form-group">
		{{=INPUT(_name='title', _placeholder="Title", _class="form-control")}}
	</div>
	<div class-"form-group">
		{{=TEXTAREA(_name='sample', _placeholder="Sample goes here :)", _style="height:400px;", _class="form-control", requires=IS_NOT_EMPTY())}}
	</div>
	<span>
		{{if browsers:}}
			<table class="table table-bordered table-hover table-striped">
				<thead>
				<tr>
						<td style="border-right: 0;">Browser</td>
						<td style="border-left: 0;border-right: 0;"></td>
						<td style="border-left: 0;"></td>
						<td>Java</td>
						<td>Flash</td>
						<td>Adobe</td>
					</tr>
				</thead>
				<tbody>
					{{for i, browser in enumerate(browsers):}}
						{{browserInfo = util.identifyBrowser(browser.useragent)}}
						<tr class="clickable">
							<td style="border-right: 0;">{{=browser.useragent}} {{=i}}<input style="display:none;" type="radio" name="browser" value="{{=browser.id}}" {{if not i:}}checked{{pass}}/></td>
							<td style="border-left: 0; border-right: 0; width: 1px;"><img src="{{=URL('static', 'images/icons/' + browserInfo['os'] + '.png')}}" /></td>
							<td style="border-left: 0; width: 1px;"><img src="{{=URL('static', 'images/icons/' + browserInfo['browser'] + '.png')}}" /></td>
							<td>{{=browser.java_version}}</td>
							<td>{{=browser.flash_version}}</td>
							<td>{{=browser.adobe_version}}</td>
						</tr>
					{{pass}}
				</tbody>
			</table>
			<select style="display: none;" id="format" name="format">
				<option value="auto">Autodetect format</option>
			</select>
			{{=INPUT(_name="analysis_time", _placeholder="Analysis time (seconds)", _style="display: none;")}}
			<input type="submit" id="form_submit" value="Analyse" class="btn-primary btn-block"/>
		{{else:}}
			<br />
			<div class="alert alert-warning" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				No browsers connected
			</div>
		{{pass}}
</form>
